.login-container.bg-blue.border-radius
  p.login-header-text Créez un compte ou connectez vous
  div
    form.bg-blue.border-radius(ng-submit="loginController.onSubmit()")  
      .form-block
        input.form-component.border-radius(
          type="email" 
          placeholder="email@exemple.com" 
          ng-model='mail' 
          required)
      .form-block
        input.form-component.border-radius(
          type="password" 
          placeholder="mot de passe" 
          ng-model='password' 
          required)
      .form-block
        select.form-component.border-radius(
          ng-model="selectedAvatar" 
          ng-options="avatar as avatar for avatar in avatarsList" ng-change="update(avatar)" required)
          option(value="") Avatar
        div
          .img(ng-class="selectedAvatar+'-img'")
      .form-block
        button.form-component.border-radius.button-component(type='submit') Jouez
        p.login-header-text {{ loginMessage }}

        