.container
  .row
    .panel.bg-blue.shadow.card-width.col-md-6.col-md-offset-3
      .panel-heading
        p.justify-content-center.paragraphe Créez un compte ou connectez vous
      .panel-body
        form.form-horizontal(ng-submit="loginController.onSubmit()")
          fieldset.col-11
              .form-group
                  input.form-control(
                    type="email" 
                    placeholder="email@exemple.com" 
                    ng-model='mail' 
                    required)
              .form-group
                  input.form-control(
                    type="password" 
                    placeholder="mot de passe" 
                    ng-model='password' 
                    required)
              .form-row.align-items-center
                .form-group
                  select.form-control(
                    ng-model="selectedAvatar" 
                    ng-options="avatar as avatar for avatar in avatarsList" ng-change="update(avatar)" required)
                    option(value="") Avatar
                .col-md-6
                  .img(ng-class="selectedAvatar+'-img'")
              .form-group
                .col
                  button.btn.btn-outline-light.btn-lg.btn-block.login-button(type='submit') Jouez
    p {{ loginMessage }}
        //- button.col-6.btn.btn-outline-light.btn-lg(ng-click="loginController.seeScores()") Hall of fame
        